
    </div>
    <!-- CONTAINER -->

    <!-- FOOTER -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <span class="copyright">Copyright &copy; radiogue.com 2018</span>
          </div>
          <div class="col-md-4">
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-insta"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-fb"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-linked"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <ul class="list-inline quicklinks">
              <li class="list-inline-item">
                <a href="#">Privacy Policy</a>
              </li>
              <li class="list-inline-item">
                <a href="#">Terms of Use</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <!-- FOOTER -->


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="assets/js/vendor.min.js" ></script>
    <script src="assets/js/plugins.min.js" ></script>
    <script src="assets/js/app.min.js" ></script>

    <script type="text/javascript" src="http://klikhost.com/html5player/jwplayer.js"></script>
    <script type="text/javascript" src="http://klikhost.com/html5player/jwplayer.html5.js"></script>   
    <script type="text/javascript">jwplayer("myElement").setup({

        file: "http://i18.klikhost.net:9176/;stream.nsv",

        type:'mp3',

        primary: "flash",

        autostart: "true",

        height: "30",

        width: "200",

        controlbar: "bottom",

        aboutlink:"http://klikhost.com",

        abouttext:"Design by: klikhost.com",

        image: "http://googlex.com/Equalizer.gif",

        logo: {

            file: "http://player.googlex.com/jwj_icon.png",

            link: "http://klikhost.com",

        },

        modes:[

                { type:"html5" }

            ]

    });
    </script> 
    
  <!--   @@if (context.script) {
      @@for(var i=0;i<script.length;i++) {
        <script src="`+script[i]+`" ></script>
      }
    }
 -->
  </body>
</html>